<a href="https://colab.research.google.com/github/lakshmi1444/data-Structures/blob/master/LinkedList.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
class Node:
  def __init__(self,data,next=None):
    self.data = data
    self.next = next

In [0]:
class LinkedList:
  def __init__(self):
    self.head= None
  def insert_at_begining(self,data):
    if self.head is None:
      self.head =Node(data)
    else:
      print(self.head.data)
      self.head= Node(data,self.head)
  def insert_at_end(self,data):
    if self.head is None:
      self.head = Node(data)
      return
    it = self.head
    while it.next:
      it = it.next
    it.next =Node(data,None)
  def insert_at_index(self,index,data):
    if index<0 and index > self.lengthofLinkedList():
      raise Exception("Invalid Exception ")
    
    if index ==0:
      self.insert_at_begining(data)
      return 
   
    count =0
    it = self.head
    while it :
      if count == index -1:
        address = it.next
        it.next = Node(data,address)
        break
      it = it.next
      count += 1

  def lengthofLinkedList(self):
    count =0
    it = self.head
    while it :
      it = it.next
      count +=1
    return count

      
  def delete_at_index(self,index):
    if index <0 and index >self.lengthofLinkedList():
      raise Exception("Invalid Exception ")
    count =0
    it = self.head
    if index == 0:
      self.head= self.head.next
      return
    while it:
       if  count==index-1:
         address = it.next.next
         it.next= address
         break
       it = it.next
       count += 1 
  def insert_values(self,values):
    self.head  = None
    for data in values:
      self.insert_at_end(data)

  def printLinkedList(self):
    if self.head is None:
      print("Empty Linked List")
      return
    else:
      it = self.head
      llstr = ""
      while it:
        # print(llstr)
        llstr += str(it.data)+" ---> "
        it = it.next
      print(llstr)
  
  def remove_by_value(self, data):
      # Remove first node that contains data
      if self.head is None:
        return 
      it = self.head
      count =0
      elementFound= False
      if it.data == data:
        self.head = it.next
        elementFound=True
        return elementFound
      
      while it.next :
        if it.next.data == data :
          it.next = it.next.next
          elementFound=True
          break
        
        it = it.next
      return elementFound



  def insert_after_value(self, data_after, data_to_insert):
    # Search for first occurance of data_after value in linked list
    # Now insert data_to_insert after data_after node
    
    if self.head is None:
      return 
    it = self.head
    count =0
    
    while it :
      if it.data ==data_after :
        
        address = it.next 
        new_node = Node(data_to_insert,address)
        it.next = new_node
        break
     
      it = it.next

In [3]:
ll = LinkedList()
ll.insert_values(["banana","mango","grapes","orange"])
ll.printLinkedList()

banana ---> mango ---> grapes ---> orange --->

In [4]:

ll.insert_after_value("orange","apple") # insert apple after mango
ll.printLinkedList()

banana ---> mango ---> grapes ---> orange ---> apple --->

In [5]:
ll.remove_by_value("orange") # remove orange from linked list
ll.printLinkedList()

banana ---> mango ---> grapes ---> apple --->

In [6]:

print(ll.remove_by_value("figs"))
ll.printLinkedList()

False
banana ---> mango ---> grapes ---> apple --->

In [7]:

ll.remove_by_value("banana")
ll.remove_by_value("mango")
ll.remove_by_value("apple")
ll.remove_by_value("grapes")
ll.printLinkedList()

Empty Linked List

In [8]:
ll= LinkedList()
ll.insert_at_begining(3)
# ll.printLinkedList()
ll.insert_at_begining(6)
# ll.printLinkedList()
ll.insert_at_end(4)
ll.printLinkedList()

print("insert at 0")
ll.insert_at_index(0,9)
ll.printLinkedList()
ll.insert_at_index(3,5)
ll.printLinkedList()
ll.delete_at_index(0)
ll.printLinkedList()
ll.lengthofLinkedList()
ll.insert_values([1,2,2,4])
ll.printLinkedList()

3
6 ---> 3 ---> 4 --->
insert at 0
6
9 ---> 6 ---> 3 ---> 4 --->
9 ---> 6 ---> 3 ---> 5 ---> 4 --->
6 ---> 3 ---> 5 ---> 4 --->
1 ---> 2 ---> 2 ---> 4 --->